.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.errorUl {
    height: 20px;
    width:230px;
    text-align: left;
}

.formBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}
input {
    width: 100%;
    border-radius: 15px;
    height:30px;
    border:1px solid gray
}
input:hover {
    border: 1px solid lightgray;
}
.errors {
    color: red;
    font-size: 11px;
}

.loginButton{
    width: 100%;
    margin:0;
    margin-top:1em;
}
.loginInput{
    width:255px;
}