.allCarts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hide;
    margin-bottom: 70px;
}

.eaSale {
    
    border-bottom: 1px solid gray;
    width: 30%
}

.paidTime {
    font-size: 11px;
    color:gray;
    margin: 0;
}