.profile-dropdown {
  position: absolute;
  background-color: white;
  right:50px;
  z-index: 10;
  border-radius: 15px;
  box-shadow: 4px 4px 6px gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:2em;
}

.hidden {
  display: none;
}

.logo {
  height:60px;
  width:60px;
  position: relative;
  top:0;
  transition: top ease 0.5s;
}
.logo:hover {
  top: -5px;
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
  margin-bottom: 1.5em;
  /* padding-right:10em; */
}

.leftNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: first baseline;
  width: 20%;
}

.rightNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}
.navButton{
  color:white;
  height:40px;
  width: 40px;
  border: 50%;
  margin: 0 20px 0 0;
}

.custButton {
  color:white;
}

.navLink {
  color: white
}

.count {
  /* background-color: red; */
  color:white;
  height:20px;
  width:20px;
  border-radius: 50%;
  text-align: center;
}