.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.logo {
  height:60px;
  width:60px;
}

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right:10em;
}

.leftNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}