.AllCust {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.emptyCust {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eaCust {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 500px;
    width: 600px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.eaCust:hover {
    top: -8px;
}

.allCustBottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
}