.allDrinks {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.eaDrink {
    /* border: 1px solid black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width:350px;
    text-decoration: none;
    color: black;
}

.drinkImg {
    height:150px;
    width:150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}