.DrinksPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* .allDrinks {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
} */
.allDrinksTop{
    margin-bottom: 30px;
}
.allDrinksBottom{
    display: flex;
    flex-direction: row;
    width:100%;

    justify-content: space-between;
    align-items: flex-start;
    
}
.leftDrinkNav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:20%;
    height: 1500px;
    background-color: rgba(209, 207, 207, 0.228);
    margin-left:50px;
    /* border: 1px solid black; */
}
.eaCategory {
    color: rgb(92, 91, 91);
    margin:1em;
}

.eaCategory:hover {
    color: black;
}
.eaCategory:focus {
    color:black;
}

/* .eaCategory:after {
    color:black;
} */
.rightDrinkNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width:80%;
    /* border: 1px solid black; */
}

.eaDrink {
    /* border: 1px solid black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    width:350px;
    text-decoration: none;
    color: black;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drinkname {
    font-weight: bold;
    font-size: 16px;
}
.eaDrink:hover{
    top: -8px;

}

.drinkImg {
    height:150px;
    width:150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.price {
    font-size: 14px;
    color: gray;
    margin: 0;
}

.AddBtn {
    margin-bottom: 1em;
    top:-20px;
}