.editPost {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid red;
}
.editPostBottom {
    width: 340px;
}
.editPostInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}